/* utilities */
.lm-row-gap{
    row-gap: 20px;
}

/***** HEADER  *****/
.lm-sony{
    width: 100px;
}

[src*="chevron-down"]{
    width: 10px;
}
/****** MAIN *****/

/* jumbotron */

#jumbotron{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.lm-padding{
   padding-top:250px;
   padding-bottom: 90px;
}

/* board */

.lm-border-radius{
    border-radius: 10px;
}

