/* utilities */
.lm-row-gap{
    row-gap: 20px;
}

.lm-padding{
    padding-top:250px;
    padding-bottom: 90px;
 }

 .lm-border-radius{
    border-radius: 10px;
}

.lm-h1-fontsize{
    font-size: 1.2rem;
}

/***** HEADER  *****/
.lm-sony{
    width: 100px;
}

[src*="chevron-down"]{
    width: 10px;
}
/****** MAIN *****/

/* jumbotron */

#jumbotron{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}
/* playstation-5  */

.p-text-p5{
    font-size: 1.1rem;
}

#playstation-5 .lm-padding-items > *{
    padding-top: 10px;
    padding-bottom: 10px;
}
#playstation-5 .fw-bolder > p{
    margin-bottom: 0;
}

.lm-img-opacity{
    filter: opacity(50%);
}

.lm-img-opacity:hover{
    filter: none;
}

/* game - banner */
#game {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.lm-btn-orange{
    background-color: #cd3d0f;
    color: white;
}

/* new-releases */

#new-releases{
    background-color: #1f1f1f;
}

/* playstation-4 */

.p-text-p4{
    padding-top: 20px;
    max-width: 450px;
}

.p-accessory{
    min-height: 75px;
}
